@model IEnumerable<Web.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.odate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delidate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paidmethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agentname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agentphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agentaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paymentstt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderstt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.odate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delidate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paidmethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agentname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agentphone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agentaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paymentstt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderstt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.oid }) |
            @Html.ActionLink("Details", "Details", new { id=item.oid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.oid })
        </td>
    </tr>
}

</table>
